.orgSliderContainer {
    background-color: red;
}

.org-slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 14);
    animation: scroll 80s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide>img {
    width: 100%;
    transition: transform 1s;
}

.slide>img:hover {
    transform: translateZ(20px);
}

.org-slider::before,
.org-slider::after {
    background:
        linear-gradient(to right,
            rgb(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.org-slider::before {
    left: 0;
    top: 0;
}

.org-slider::after {
    right: 0;
    top: 0;
    transform: rotate(180deg);
}