
  


/* 

box-sizing: border-box;

/* 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 24px 20px 32px;
gap: 20px;

width: 768px;
height: 72px;


background: #FFFFFF;

border: 1px solid #E8E8E8;
border-radius: 36px;

 */
