/* Column */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 40px;

margin: 0 auto;
width: 500px;
height: 376px;

/* White */
background: #FFFFFF;
box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.08);
border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 436px;
height: 214px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* image 162 */

width: 174.2px;
height: 40px;

background: url(image.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Quote */

width: 436px;
height: 144px;

/* P3 Quote */
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

/* Dark blue 2 */
color: #2A394E;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Avatar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 436px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 427319310 */

width: 56px;
height: 56px;

border-radius: 50px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* unsplash:AJIqZDAUD7A */

position: absolute;
width: 96px;
height: 64px;
left: -20px;
top: -2.19px;

background: url(.jpg);


/* Avatar Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 364px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Text */

width: 98px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
letter-spacing: 0.02em;

/* Red */
color: #F85252;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 364px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Dark blue 2 */
color: #2A394E;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

display: none;
width: 364px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Dark blue 2 */
color: #2A394E;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
