.introduction {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 99;

  svg {
    height: calc(100% + 300px);
    position: absolute;
    top: 0;
    width: 100%;

    path {
      fill: #FFFFFF;
    }
  }

  p {
    align-items: center;
    color: #0C051D;
    display: flex;
    font-size: 52px;
    position: absolute;
    z-index: 1;
  }
}
@media screen and (min-width:768px) {
  .introduction {
    p {
      align-items: center;
      color: #0C051D;
      display: flex;
      font-size: 84px;
      position: absolute;
      z-index: 1;
    }
  }
}
