@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    font-family: ;
    font-size: ;
    line-height: ;
    font-weight: ;
  }

  .h2 {
    font-family: ;
    font-size: ;
    line-height: ;
    font-weight: ;
  }

  .h3 {
    font-family: ;
    font-size: ;
    line-height: ;
    font-weight: ;
  }

  .h4 {
    font-family: ;
    font-size: ;
    line-height: ;
    font-weight: ;
  }

  .h5 {
    font-family: ;
    font-size: ;
    line-height: ;
    font-weight: ;
  }

  .h6 {
    font-family: ;
    font-size: ;
    line-height: ;
    font-weight: ;
  }

  .button-text {
    font-family: ;
    font-size: ;
    line-height: ;
    font-weight: ;
  }

  .p1 {
    font-family: ;
    font-size: ;
    line-height: ;
    font-weight: ;
  }

  .p2 {
    font-family: ;
    font-size: ;
    line-height: ;
    font-weight: ;
  }

  .p3 {
    font-family: ;
    font-size: ;
    line-height: ;
    font-weight: ;
  }

}